name: Docker Build CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v3
      - name: Docker Imajini Olustur
        run: docker build . -f Dockerfile -t egemen-app:latest
